<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ko.cpsenews" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CPS e-Newsletter</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />



<!-- PhoneGap plugin declaration -->
<plugin name="cordova-plugin-inappbrowser" source="npm" />
<plugin name="cordova-plugin-network-information" source="npm" />
<plugin name="cordova-plugin-splashscreen" source="npm" />
<plugin name="cordova-plugin-device" source="npm" />
<plugin name="cordova-plugin-statusbar" source="npm" />
<plugin name="org.apache.cordova.battery-status" />
<plugin name="org.apache.cordova.camera" />
<plugin name="org.apache.cordova.media-capture" />
<plugin name="org.apache.cordova.console" />
<plugin name="org.apache.cordova.contacts" />
<plugin name="org.apache.cordova.device" />
<plugin name="org.apache.cordova.device-motion" />
<plugin name="org.apache.cordova.device-orientation" />
<plugin name="org.apache.cordova.dialogs" />
<plugin name="org.apache.cordova.file" />
<plugin name="org.apache.cordova.file-transfer" />
<plugin name="org.apache.cordova.geolocation" />
<plugin name="org.apache.cordova.globalization" />
<plugin name="org.apache.cordova.inappbrowser" />
<plugin name="org.apache.cordova.media" />
<plugin name="org.apache.cordova.network-information" />
<plugin name="org.apache.cordova.splashscreen" />
<plugin name="org.apache.cordova.vibration" />

<!-- SplashScreen configuration -->
<preference name="AutoHideSplashScreen" value="false" />
<preference name="FadeSplashScreenDuration" value="1000" />
<preference name="ShowSplashScreenSpinner" value="false" />
<gap:config-file platform="ios" parent="UIStatusBarHidden"><true/></gap:config-file>
<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance"><false/></gap:config-file>

<!-- Icons and Splashscreens declaration -->
<icon src="icon.png"/>
<icon src="icons/icon-60@3x.png" gap:platform="ios" width="180" height="180" />
<icon src="icons/icon-60@2x.png" gap:platform="ios" width="120" height="120" />
<icon src="icons/icon@2x.png" gap:platform="ios" width="114" height="114" />
<icon src="icons/icon-40@2x.png" gap:platform="ios" width="80" height="80" />
<icon src="icons/icon-60.png" gap:platform="ios" width="60" height="60" />
<icon src="icons/icon-small@2x.png" gap:platform="ios" width="58" height="58" />
<icon src="icons/icon.png" gap:platform="ios" width="57" height="57" />
<icon src="icons/icon-small.png" gap:platform="ios" width="29" height="29" />

<gap:splash src="splashscreens/Default-736h-Lanscape@3x~iphone.png" gap:platform="ios" width="2208" height="1242" />
<gap:splash src="splashscreens/Default-736h-Portrait@3x~iphone.png" gap:platform="ios" width="1242" height="2208" />
<gap:splash src="splashscreens/Default-667h-Landscape@2x~iphone.png" gap:platform="ios" width="1334" height="750" />
<gap:splash src="splashscreens/Default-667h-Portrait@2x~iphone.png" gap:platform="ios" width="750" height="1334" />
<gap:splash src="splashscreens/Default-568h-Landscape@2x~iphone.png" gap:platform="ios" width="1136" height="640" />
<gap:splash src="splashscreens/Default-568h-Portrait@2x~iphone.png" gap:platform="ios" width="640" height="1136" />
<gap:splash src="splashscreens/Default-Landscape@2x~iphone.png" gap:platform="ios" width="960" height="640" />
<gap:splash src="splashscreens/Default-Portrait@2x~iphone.png" gap:platform="ios" width="640" height="960" />
<gap:splash src="splashscreens/Default-Landscape~iphone.png" gap:platform="ios" width="480" height="320" />
<gap:splash src="splashscreens/Default-Portrait~iphone.png" gap:platform="ios" width="320" height="480" />





	 <icon src="icon.png"/>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
